@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: hsl(171, 66%, 44%);
  --blue: hsl(233, 100%, 69%);

  --gray-dark: hsl(210, 10%, 33%);
  --gray-light: hsl(201, 11%, 66%);

  --max-width: 1100px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--gray-dark);
  font-weight: 600;
}

p {
  max-width: 650px;
  margin: 1.5rem auto;
}



.snippets-section{
  margin-top: 150px;
}

.features p{
  margin: 0.5rem 0 2rem;
  width: 82%;
}

header {
  background-image: url("./assets/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.logo {
  margin-top: 120px;
  /* width: 6%; */
}

.hero img {
  margin-bottom: 3rem;
}

.hero h1 {
  font-size: 2.8rem;
}

.hero p {
  margin-top: 1.5rem;
  opacity: 0.4;
  color: gray;
  font-weight: 600;
}

.btn-group {
  margin-top: 3rem;
}

.btn {
  display: inline-block;
 padding: 10px 30px;
  border-radius: 30px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  margin: 0.6rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn.ios {
  background-color: var(--green);
  box-shadow: 0 12px 20px rgba(38, 186, 164, 0.45);
}

.btn.mac {
  background-color: var(--blue);
  box-shadow: 0 12px 20px rgba(97, 115, 255, 0.45);
}

.snippets {
  max-width: var(--max-width);
  margin: 4rem auto 0;
  display: flex;
  align-items: center;
  gap: 6rem;
}
.section-text {
  opacity: 0.4;
  color: gray;
  font-weight: 600;
}

.snippets p {
  opacity: 0.4;
  color: gray;
  font-weight: 600;
}

.access-section{
  margin-top:80px;
}

.download-section{
  margin-top: 50px;
}

.snippets img {
  width: 50%;
  margin-left: -6rem;
}

.snippets h2 {
  width: 50%;
  margin-left: -6rem;
}

.snippets-header,.access-section-header,.workflow-section-header,.clip-header{
   font-size: 35px;
 }


.features {
  text-align: left;
  margin-top: 50px;
}


.workflow-section{
  margin-top: 40px;
}
.devices {
  width: 70%;
  margin-top: 4rem;
}



.workflow {
  display: flex;
  justify-content: center;
  align-items:start;
  gap: 3rem;
  margin-top: 60px;
}

.sneak{
  margin-top: 8px;
}

.workflow div {
  max-width: 320px;
}

.workflow img {
  margin-bottom: 2rem;
  width: 40px;
}

.workflow p {
  opacity: 0.4;
  color: gray;
  font-weight: 600;
}

.logos {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  margin-top: 50px;
}

.logos img {
  width: 110px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.footer {
  background-color: hsl(201, 11%, 96%);
  /* padding:60px 140px; */
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  gap: 135px;
  align-items: start;
  max-width: 100%;
}

.footer-logo {
  width: 50px;
}

.footer ul {
  list-style: none;
  text-align: left;
}

.footer li {
  margin-bottom: 1rem;
  cursor: pointer;
  color: var(--gray-dark);
  font-weight: 500;
}

.footer li:hover {
  color: var(--green);
}

.social img {
  margin-right: 1rem;
  cursor: pointer;
}

.last-btn{
  margin-bottom: 120px;
}


/* Responsive tablet */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .hero img{
    width: 10%;
  }

  .hero {
    background: url("./assets/bg-header-desktop.png");
    background-repeat: no-repeat;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .snippets {
    flex-direction: column;
    text-align: center;
  }

  .snippets img {
    width: 90%;
    margin: 0;
  }

  .features {
    text-align: center;
  }

  .devices {
    width: 90%;
  }

  .workflow {
    flex-direction: column;
    align-items: center;
  }

  .logos {
    flex-direction: column;
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .footer ul {
    text-align: center;
  }
}

/* Responsive Mobile */

@media (max-width: 500px) {


 .hero h1 {
    font-size:30px;
    padding:0px 40px;
  }  .hero img{
    width: 40%;
 }
 .hero p{
  font-size:15px;
  text-align: center;
 }
 .snippets-header{
  font-size: 30px;
 }

.btn{
    width: 90%;
 }
 .section-text{
  font-size:15px;
   padding:0px 40px;
 }
     .snippets img{
      width: 80%;
     }
     .snippets{
      gap: 0px;
     }

     .snippets p{
      font-size: 15px;
     }
     .features h3{
      font-size: 25px;
     }

 .snippets-section{
  margin-top: 130px;
 }
.logos{
    margin-bottom: 40px;
}

 .footer-logo{
    margin-bottom: 25px;
 }
 .footer li{
    margin-bottom: 30px;
 }
 .footer{
    display: block;
 }
 .snippets-header{
    margin-top: 30px;
 }
 .features  p{
    width: 90%;
    margin: auto;
      margin-bottom: 15px;
 }
  .features  h3{
    margin-bottom: 15px;
 }
 .access-section{
  margin-top: 100px;
 }
 .access-section-header,.workflow-section-header,.clip-header{
  font-size: 30px;
 }
.clip-header{
  padding: 0px 20px;
}
 .workflow p{
  font-size: 15px;
 }
 .workflow-section{
  margin-top: 80px;
 }
 .logos{
  gap:80px;
  margin-bottom: 150px;
 }
 .logos img {
  margin-top: 0px;
  margin-bottom: 0px;
   width: 40%;
}

}
